/* * GLOBAL */
html {
    font-family: sans-serif;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* * HEADER  */
.diner__header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding-top: 30px;

}

.diner__nav {
    background-color: transparent !important;

}

h1 a.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.diner__header .form-inline .search__input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.diner__header .form-inline {
    position: relative;
}

.diner__header .form-inline .search__icon {
    position: absolute;
    right: 30px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}

/* * BANNER  */
.diner__banner {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);

    background-size: cover;
    position: relative;
    padding: 150px;
    background-attachment: fixed;
}

.diner__banner .card {
    background-color: transparent;
    color: white;
    border: none;
}

.diner__banner .baner__text h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.diner__banner .baner__text p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-top: 1.5rem;
}

.diner__banner .card-body {
    padding: 0;
    width: 100%;
}

.diner__banner .diner__button {
    border: 2px solid white;
    background-color: transparent;
    padding: 12px 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 3rem;
    transition: 0.5s;
}

.diner__banner .diner__button:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

.diner__banner .diner__button i {
    display: inline;
    padding-left: 8px;
    font-size: 16px;
}

/* * CONTENT */
.content__first {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 4rem 0 3rem;
}

.content__first .first__left {
    width: 45%;
    padding-right: 60px;
    padding-left: 20px;
}

.first__left h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.first__left h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.content__first .first__right {
    width: 53%;
    padding-left: 20px;
    padding-right: 15px;
}

.first__right p {
    font-size: 17px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.content__second {
    display: flex;
}

.content__second .second__left::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.content__second .second__left {
    width: 50%;
    background: url(/img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}

.content__second .second__left,
.content__second .second__right {
    width: 50%;
}

.content__second .second__right {
    background-color: #ff6600;
}

.second__right .right__info {
    padding: 60px 80px;
}

.right__info h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.right__info h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.right__info p {
    color: #ffdfc9;
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
}

.right__info .right__subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
    margin-top: 3rem;
}

.right__subscribe .subscribe__block .icon {
    background: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 7%;
    transition: 0.3s ease-in-out;
}

.right__subscribe .subscribe__block .icon i {
    font-size: 25px;
    color: #ff6600;
}

.right__subscribe .subscribe__block a {
    display: block;
    color: black;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
}

.right__subscribe .subscribe__block:hover .icon i {
    color: #fcb900;
    transition: 0.3s ease-in-out;
}

/* * CATEGORIES*/
.categories {
    background: #f7f7f7;
}

.categories .cate__title {
    text-align: center;
    padding-bottom: 1rem;
}

.categories .cate__title h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;
}

.categories .cate__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.categories .cate__menu .cate__text {
    top: auto;
    left: 10px;
}

.categories .cate__menu h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.categories .cate__menu h6 {
    font-weight: 600;
    color: #e9b707;
    font-size: 18px;
    letter-spacing: 1px;
}

.categories .cate__menu a:hover {
    text-decoration: none;
}

.cate__menu {
    gap: 30px 0;
}

.categories .col-4 .image {
    position: relative;
}

.categories .col-4 .image::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
}

.categories .col-4 .image::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 100%, rgba(0, 0, 0, 0.76) 69%, );
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    cursor: pointer;
}

.categories .col-4 .image:hover {
    opacity: 0.85;
    transition: all 0.4s;

}

/* * SERVICES */
.services__box {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}

.services__box:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.services__box:hover .icon {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}

.services__box:hover .icon span {
    color: white;
    transition: 0.3s ease-in-out;
}

.services__box p {
    margin-bottom: 0;
}

.services__box__title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.services__box .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgba(135, 115, 252, 0.05);
    line-height: 70px;
    border-radius: 6px;
}

.services__box .icon span {
    font-size: 25px;
    line-height: 70px;
    color: #ff6600;
}

.services__box__name p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

.services__box__name a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: black;
}

.services__box__name a:hover {
    color: #ff6600;
    transition: 0.5s all;
}


/* * INTRO */
.diner__carousel {
    background: url(/img/banner2.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.diner__carousel::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.carousel__banner {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.carousel__banner .carousel__content {
    padding-left: 12rem;
    padding-right: 12rem;
}

.carousel__banner .carousel__title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

.carousel__button a {
    text-decoration: none;
}

.carousel__button a:hover {
    outline: 0;
}


.carousel__button .button__left,
.carousel__button .button__right {
    padding: 15px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
}

.carousel__button .button__left {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.carousel__button .button__left:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

.carousel__button .button__right {
    color: #fff;
    background-color: #ff6600;
}

.carousel__button .button__right:hover {
    color: #fff;
    background-color: #ff6600;
    opacity: 0.8;
}

.carousel__button .fa-chevron-right {
    padding-left: 0.5rem;
}

/* *STATS */
section.diner__stats {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.diner__stats p {
    font-size: 1.1em;
}

.stats__box {
    background-color: #fff;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: .3s ease;
}

.stats__box:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
    transition: .3s ease;
}

.stats__box span.fa {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.count-number {
    font-size: 2.6em;
    font-weight: 600;
    color: black;
}

p.count-text {
    text-transform: capitalize;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
    margin-bottom: 0;
}