/* * GLOBAL */
html {
    font-family: sans-serif;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* * HEADER  */
.diner__header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding-top: 30px;

}

.diner__nav {
    background-color: transparent !important;

}

h1 a.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.diner__header .form-inline .search__input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.diner__header .form-inline {
    position: relative;
}

.diner__header .form-inline .search__icon {
    position: absolute;
    right: 30px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}

/* * BANNER  */
.diner__banner {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);

    background-size: cover;
    position: relative;
    padding: 150px;
    background-attachment: fixed;
}

.diner__banner .card {
    background-color: transparent;
    color: white;
    border: none;
}

.diner__banner .baner__text h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.diner__banner .baner__text p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-top: 1.5rem;
}

.diner__banner .card-body {
    padding: 0;
    width: 100%;
}

.diner__banner .diner__button {
    border: 2px solid white;
    background-color: transparent;
    padding: 12px 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 3rem;
    transition: 0.5s;
}

.diner__banner .diner__button:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

.diner__banner .diner__button i {
    display: inline;
    padding-left: 8px;
    font-size: 16px;
}

/* * CONTENT */
.content__first {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 4rem 0 3rem;
}

.content__first .first__left {
    width: 45%;
    padding-right: 60px;
    padding-left: 20px;
}

.first__left h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.first__left h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.content__first .first__right {
    width: 53%;
    padding-left: 20px;
    padding-right: 15px;
}

.first__right p {
    font-size: 17px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.content__second {
    display: flex;
}

.content__second .second__left::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.content__second .second__left {
    width: 50%;
    background: url(/img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}

.content__second .second__left,
.content__second .second__right {
    width: 50%;
}

.content__second .second__right {
    background-color: #ff6600;
}

.second__right .right__info {
    padding: 60px 80px;
}

.right__info h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.right__info h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.right__info p {
    color: #ffdfc9;
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
}

.right__info .right__subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
    margin-top: 3rem;
}

.right__subscribe .subscribe__block .icon {
    background: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 7%;
    transition: 0.3s ease-in-out;
}

.right__subscribe .subscribe__block .icon i {
    font-size: 25px;
    color: #ff6600;
}

.right__subscribe .subscribe__block a {
    display: block;
    color: black;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
}

.right__subscribe .subscribe__block:hover .icon i {
    color: #fcb900;
    transition: 0.3s ease-in-out;
}

/* * CATEGORIES*/
.diner__categories {
    background: #f7f7f7;
}

.diner__categories .cate__title {
    text-align: center;
    padding-bottom: 1rem;
}

.diner__categories .cate__title h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;
}

.diner__categories .cate__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.diner__categories .cate__menu .cate__text {
    top: auto;
    left: 10px;
}

.diner__categories .cate__menu h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.diner__categories .cate__menu h6 {
    font-weight: 600;
    color: #e9b707;
    font-size: 18px;
    letter-spacing: 1px;
}

.diner__categories .cate__menu a:hover {
    text-decoration: none;
}

.cate__menu {
    gap: 30px 0;
}

.diner__categories .col-4 .image {
    position: relative;
}

.diner__categories .col-4 .image::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
}

.diner__categories .col-4 .image::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 100%, rgba(0, 0, 0, 0.76) 69%, );
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    cursor: pointer;
}

.diner__categories .col-4 .image:hover {
    opacity: 0.85;
    transition: all 0.4s;

}

/* * SERVICES */
.services__box {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}

.services__box:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.services__box:hover .icon {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}

.services__box:hover .icon span {
    color: white;
    transition: 0.3s ease-in-out;
}

.services__box p {
    margin-bottom: 0;
}

.services__box__title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.services__box .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgba(135, 115, 252, 0.05);
    line-height: 70px;
    border-radius: 6px;
}

.services__box .icon span {
    font-size: 25px;
    line-height: 70px;
    color: #ff6600;
}

.services__box__name p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

.services__box__name a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: black;
}

.services__box__name a:hover {
    color: #ff6600;
    transition: 0.5s all;
}


/* * INTRO */
.diner__carousel {
    background: url(/img/banner2.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.diner__carousel::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.carousel__banner {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.carousel__banner .carousel__content {
    padding-left: 12rem;
    padding-right: 12rem;
}

.carousel__banner .carousel__title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

.carousel__button a {
    text-decoration: none;
}

.carousel__button a:hover {
    outline: 0;
}


.carousel__button .button__left,
.carousel__button .button__right {
    padding: 15px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
}

.carousel__button .button__left {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.carousel__button .button__left:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

.carousel__button .button__right {
    color: #fff;
    background-color: #ff6600;
}

.carousel__button .button__right:hover {
    color: #fff;
    background-color: #ff6600;
    opacity: 0.8;
}

.carousel__button .fa-chevron-right {
    padding-left: 0.5rem;
}

/* *STATS */
section.diner__stats {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.diner__stats p {
    font-size: 1.1em;
}

.stats__box {
    background-color: #fff;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: .3s ease;
}

.stats__box:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
    transition: .3s ease;
}

.stats__box span.fa {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.count-number {
    font-size: 2.6em;
    font-weight: 600;
    color: black;
}

p.count-text {
    text-transform: capitalize;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
    margin-bottom: 0;
}

/* * VIDEO POP-UP */
.video__background {
    background: url(https://wp.w3layouts.com/diner/wp-content/themes/Diner/assets/images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}

.video__background::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
}

.video__background span.video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #f60;
    border: transparent;
    background: #fff;
}

.video__background span.video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #f60;
    border: transparent;
    color: #fff;
}

/* * BLOG POSTS  */
.blog {
    background-color: #f7f7f7;
    padding-bottom: 72px;
    padding-top: 96px;
}

.blog__text {
    text-align: center;
}

.blog .blog__text h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;

}

.blog .blog__text h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}


.card {
    border: none;
    background: transparent;
}

.card__header {
    position: relative;
}

.card__header .card_pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card__header .card_pos a {
    color: #ff6600;
    text-decoration: none;
    transition: .5s;
}

.card__header .card_pos a:hover {
    color: #0056b3;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__bottom a {
    text-decoration: none;
    color: #232121;
}

.card__bottom>a {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;

}

.card__bottom .right a {
    font-weight: 700;
    letter-spacing: .02em;
}

.card__bottom .left a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    opacity: .9;
    transition: .5s;
}

.card__bottom .left a:hover {
    color: #ff6600;
}

.card .card__img img {
    border-radius: 5px;
}

.blog .card .right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.blog .card__bottom {
    padding-left: 0;
    padding-right: 0;
}

/* * CMT  */
.cmt {
    text-align: center;
    padding-bottom: 72px;
    padding-top: 96px;
}

.cmt .cmt__item img {
    width: 85px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.cmt .cmt__title h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;
}

.cmt .cmt__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.cmt .cmt__item .cmt__icon {
    font-size: 22px;
    color: #ff6600;
    display: block;
}

.cmt .cmt__item blockquote {
    font-size: 24px;
    line-height: 36px;
    color: #232121;
    font-weight: 600;
    font-style: italic;
}

.cmt .cmt__item .cmt__text {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
}

.cmt .cmt__item h3 {
    margin-top: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
}

.cmt .cmt__item p:last-of-type {
    font-size: 18px;
    font-style: normal;
    margin-top: 4px;
    margin-top: 0;
    opacity: .8;
}

#comment .owl-dots .owl-dot.active span {
    background-color: #ff6600;
}

.cmt__content {
    max-width: 700px;
    margin: auto;
}


/* * FOOTER  */
.footer {
    background-color: #000;
}

.footer a {
    text-decoration: none;

}

.footer .footer__logo a {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding: 0;
    transition: .5s;
}

.footer .footer__logo a:hover {
    color: #ff6600;
}

.footer p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer .footer__icon a {
    margin-right: 10px;
    color: #ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: .3s;
}

.footer .footer__icon a:hover {
    background-color: #ff6600;
    color: #fff;
}

.footer h6 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #fff;
}

.footer li {
    list-style: none;
    margin-bottom: 10px;
}

.footer li a {
    color: #a5a2a1;
    transition: .5s;

}

.footer li a:hover {
    color: #ff6600;
}

.footer input {
    padding: 14px 20px;
    line-height: 28px;
    font-size: 18px;
    border: 1px solid transparent;
    width: 100%;
    color: rgb(22 28 45 / 70%);
    border-radius: 6px;
}

.footer button {
    padding: 12px 45px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid transparent;
    color: white;
    background-color: #ff6600;
    transition: all 0.5s;
}

.footer button:hover {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
    border-top: 1px solid rgb(255 255 255 / 5%);
    padding: 1.2em 0;
    background: #000;
}

.copyright span {
    font-size: 17px;
    align-self: center;
    color: #ddd;
}

.copyright a {
    color: #ff6600;
    text-decoration: none;
    transition: .5s;
}

.copyright a:hover {
    color: #fff;
}


/* * BACK_TO_TOP */
.back-to-top {
    /* đi theo thẻ body nên ko cần relative cho thẻ cha  */
    position: fixed;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ff6600;
    color: #fff;
    right: 20px;
    bottom: 55px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;

    /* ẩn nút để thư viện cho hiện ra  */
    opacity: 0;
}

.back-to-top:hover {
    color: #fff;
}

.cd-top--is-visible {

    opacity: 1;
}


/* 3 gạch  */
#portNavbar .nav-item a {
    color: white
}

.diner__header .diner__nav .navbar-toggler .header__icon {
    color: white;
}


/* ! ANIMATIONS */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

/* ! Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    line-height: 40px;
    position: absolute;
    right: 0px;
    top: -40px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    background: transparent;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-cont-ser .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-cont-ser img.mfp-img {
        padding: 0;
    }

    .mfp-img-cont-ser .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-cont-ser .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-cont-ser .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }

    .mfp-img-cont-ser .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-cont-ser .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-cont-ser .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        transform-origin: 0;
    }

    .mfp-arrow-right {
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* Styles for dialog window */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/**
     * Fade-move animation for second dialog
     */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}